<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709398981075-nnhu1vo5l3fo9lrg03qpueu77q5ub11e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709398981075-nnhu1vo5l3fo9lrg03qpueu77q5ub11e</string>
	<key>API_KEY</key>
	<string>AIzaSyCw4usX5aPsWNmSekoFsqQUmSQ6bsNgf9c</string>
	<key>GCM_SENDER_ID</key>
	<string>709398981075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAlmQuiz</string>
	<key>PROJECT_ID</key>
	<string>fir-authentication-152d3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authentication-152d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709398981075:ios:85558a116d4a1aa74e2726</string>
</dict>
</plist>